<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<meta charset="UTF-8">
	<title>Work10</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
</head>
<body>
	<div ng-app="myApp" ng-controller="myCtrl">
	  <select ng-model="selectedCountry" ng-options="country for country in countries" ng-change="updateCities()">
		<option value="">Виберіть країну</option>
	  </select>
  
	  <select ng-model="selectedCity" ng-options="city for city in cities">
		<option value="">Виберіть місто</option>
	  </select>
	</div>
	<script src="./Work10.js"></script>
</body>
</html>
